 <form action="/upload" method="POST" id="customer-form">
      <h2>Customer Information</h2>
      <p>
        <label>First Name</label>
        <input type="text" name="first_name" id="first_name" value="JAMES"></input>
        <label>Last Name</label>
        <input type="text" name="last_name" id="last_name" value="BOGENHAGEN"></input>
      </p>
      <p>
        <label>St. Number</label>
        <input type="text" name="st_num" id="st_num" value="1111"></input>
        <label>Direction</label>
        <input type="text" name="direction" id="direction" value="N"></input>
        <label>St. Name</label>
        <input type="text" name="st_name" id="st_name" value="JFKLSAJ"></input>
        <label>St. Suffix</label>
        <input type="text" name="st_suffix" id="st_suffix" value="ST"></input>
      <p>  
        <label>Unit Type</label>
        <input type="text" name="unit_type" id="unit_type" value="APT"></input>
        <label>Unit Num.</label>
        <input type="text" name="unit_num" id="unit_num" value="1234"></input>
      </p>  
      <p>
        <label>Postal Code</label>
        <input type="text" name="postal_code" id="postal_code" value="30307"></input>
        <label>City</label>
        <input type="text" name="city" id="city" value="CHICAGO"></input>
        <label>State</label>
        <input type="text" name="state" id="state" value="IL"></input>
      </p>
      <p>
        <label>Year</label>
        <input type="text" name="year" id="year" value="1984"></input>
        <label>Month</label>
        <input type="text" name="month" id="month" value="09"></input>
        <label>Day</label>
        <input type="text" name="day" id="day" value="12"></input>
      </p>
      <p>  
        <label>SSN</label>
        <input type="text" name="ssn" id="ssn" value="008978432"></input>
        <label>Phone</label>
        <input type="text" name="phone" id="phone" value="1085551212"></input>
      </p>
      <input class="submit-button" type="submit" />
    </form>